.form {
  margin-bottom: 20px;
}

.input {
  margin-right: 10px;
}

.button {
  margin-top: 10px;
}

.errorInput {
  border: 1px solid red;
}

.errorLabel {
  color: red;
}

.errorMessage {
  color: red;
  display: block;
  margin-top: 10px;
}

.formGroup {
  margin-bottom: 10px;
}